section{
    height: 100%;
    overflow: hidden;
}
nav { z-index: 1; position: fixed; top: 0; left: 0; right: 0; width: 190px; height: 100%; border-right: 1px solid #070707;}
nav.modal-up { z-index: 0;}
nav .top { position: relative; padding: 0 0 0px 20px; height: 190px; font-size: 14px; border-bottom: 1px solid #070707; }
nav .top p { padding: 40px 0 15px; font-size: 24px; font-weight: bold; color: #009284;} 
nav ul a { display: block; position: relative; padding-left: 60px; height: 45px; line-height: 45px; border-bottom: 1px solid #070707; box-sizing: border-box;}
nav ul a::before{ display: inline-block; margin-right: 20px; position: absolute; left: 20px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; }
nav ul a:nth-child(1):before{ content: ""; background: url(../assets/nav/About.png); background-size: 20px 20px; }
nav ul a:nth-child(2):before{ content: ""; background: url(../assets/nav/Experience.png); background-size: 20px 20px; }
nav ul a:nth-child(3):before{ content: ""; background: url(../assets/nav/Projects.png); background-size: 20px 20px; }
nav ul a:nth-child(4):before{ content: ""; background: url(../assets/nav/Skills.png); background-size: 20px 20px; }
nav ul a:nth-child(5):before{ content: ""; background: url(../assets/nav/Carrer.png); background-size: 20px 20px; }
nav ul a:nth-child(6):before{ content: ""; background: url(../assets/nav/Blog.png); background-size: 20px 20px; }
nav ul a:nth-child(7):before{ content: ""; background: url(../assets/nav/Contact.png); background-size: 20px 20px; }
nav ul a:hover, nav ul a.animate { background: #e4e4e4;}
nav ul a:nth-child(1):hover, nav ul a:nth-child(1).animate { border-left: 4px solid #3C98D1;}
nav ul a:nth-child(2):hover, nav ul a:nth-child(2).animate { border-left: 4px solid #F48440;}
nav ul a:nth-child(3):hover, nav ul a:nth-child(3).animate { border-left: 4px solid #A48B82;}
nav ul a:nth-child(4):hover, nav ul a:nth-child(4).animate { border-left: 4px solid #4788C7;}
nav ul a:nth-child(5):hover, nav ul a:nth-child(5).animate { border-left: 4px solid #FFCF3C;}
nav ul a:nth-child(6):hover, nav ul a:nth-child(6).animate { border-left: 4px solid #E74944;}
nav ul a:nth-child(7):hover, nav ul a:nth-child(7).animate { border-left: 4px solid #707070;}
nav .btm { position: absolute; bottom: 24px; padding-left: 20px;}
nav .btm p { padding-bottom: 6px;}

section article { margin-left: 191px; width: 100%; height: 100%; background: #EFEFEF;}
.Home article p { padding: 80px 0 0 79px; font-size: 40px;}

div.title { margin-left: 191px; width: 100%; height: 108px;  background-color: #008073; }
div.title span{ padding-left: 60px; font-size: 36px; color: #fff; line-height: 108px;}

.About { position: relative;}
.About article img{ position: relative; padding: 115px 125px 0 240px; opacity: 0; transition: 0.5s; transition-delay: 1s;}
.About article img:first-child { position: absolute; right: 930px; filter:blur(15px); opacity: 0;}
.About article img.animate { transform:translateY(-50px); opacity: 1;}
.About article.animate { transform:translateY(-5px)}
.About article p { position: absolute; top: 290px; display: inline-block; font-size: 37px; font-weight: bold; color: #000; width: 800px; }
.About article pre { position: absolute; top: 510px; display: inline-block; font-size: 17px; color: #545454; width: 800px;}
.About article p.animate { animation: bounce_frames 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 4; }
@keyframes bounce_frames {
    from {transform: translate3d(0, 0, 0);}
    to {transform: translate3d(0, 50px, 0);}
    }

.Experience article { position: relative;}
.Experience i { z-index: 5; font-size: 70px; color: #cfcfcf; cursor: pointer; padding: 380px 0; transition: ease-in 0.2s;}
.Experience i#experience_prev { position: absolute; top: 0%; left: 0px; padding-left: 90px;  }
.Experience i#experience_next { position: absolute; top: 0%; right: 200px; padding-right: 100px; }
.Experience i#experience_prev:hover { background: linear-gradient( to left, #efefef, rgba(133, 133, 133, 0.5) ); }
.Experience i#experience_next:hover { background: linear-gradient( to right, #efefef, rgba(133, 133, 133, 0.5) );}
.Experience i.disabled { display: none;}
.Experience i:hover { color: #a8a8a8;}
.Experience article div.experience-container { position: relative; margin: 150px 300px; display: inline-block; width: 1190px; height: 602px; overflow: hidden; }
.Experience article div div.experience-slider-container { position: absolute; width: 10000%; height: 602px; -webkit-transition: left 0.3s ease-in; transition: left 0.5s ease-in;}
.Experience article ul { display: inline-block; width: 1190px; height: 600px; box-sizing: border-box;}
.Experience article ul li { position: relative; height: 200px; height: 165px; box-sizing: border-box; } 
.Experience article ul li:nth-child(2) { position: relative; margin: 52px 0;}
.Experience article ul li:nth-child(2)::before { position: absolute; top:-20px; content: ""; width: 1100px; height: 2px; background: rgb(120, 120, 120);}
.Experience article ul li:nth-child(3)::before { position: absolute; top:-20px; content: ""; width: 1100px; height: 2px; background: rgb(120, 120, 120);}
.Experience article ul li span { position: absolute; top: 0px; left: 30px; display: inline-block; width: 170px; height: 100%; font-size: 18px; color: #8c8c8c; font-weight: bold;}
.Experience article ul li p { position: absolute; top: 0px; left: 200px; display: inline-block; width: 350px; height: 100%; font-size: 25px; font-weight: bold; color: black; word-break: keep-all; white-space: pre-wrap;}
.Experience article ul li pre { position: absolute; top: 0px; left: 610px; display: inline-block; width: 490px; height: 100%; font-size: 14px; color: #8c8c8c; word-break: keep-all; white-space: pre-wrap;}


.Skills article>div { margin-left: 240px; width: 1252px; height: 200px; background: #fff; box-shadow: 5px 5px #dedede}
.Skills article>div.top::before {position: absolute; top: 60px; content: ""; padding: 60px 0 0 0;}
.Skills article>div.top { position: relative; top: 60px;}
.Skills article>div.middle { margin: 100px 0 40px 240px;}
.Skills article div p { position: relative; padding: 20px 0 32.5px 20px; font-size: 20px; color: #8c8c8c; font-weight: bold;}
.Skills article div p::after { position: absolute; left: 20px; bottom: 12.5px; content: ""; width: 1222px; height: 1px; background: #707070;}
.Skills article div ul { padding: 80px 0 0 70px;}
.Skills article div ul li { position: relative; padding: 0 120px 0 0; float: left; font-size: 12px; color: #000; font-weight: bold; text-align: center; width: 100px;}
.Skills article div ul li::before { position: absolute; left: 50px; top: -75px; transform: translateX(-50%); content: ""; width: 70px; height: 70px; }
.Skills article div.top ul li:nth-child(1):before {background: url(../assets/Skills/python.png) no-repeat; background-size: contain;}
.Skills article div.top ul li:nth-child(2):before {background: url(../assets/Skills/C++.png) no-repeat; background-size: contain;}
.Skills article div.top ul li:nth-child(3):before {background: url(../assets/Skills/C.png) no-repeat; background-size: contain;}
.Skills article div.top ul li:nth-child(4):before {background: url(../assets/Skills/HTML5.png) no-repeat; background-size: contain;}
.Skills article div.top ul li:nth-child(5):before {background: url(../assets/Skills/CSS3.png) no-repeat; background-size: contain;}
.Skills article div.middle ul li:nth-child(1):before {background: url(../assets/Skills/Deep_Learning.png) no-repeat; background-size: contain;}
.Skills article div.middle ul li:nth-child(2):before {background: url(../assets/Skills/Machine_Learning.png) no-repeat; background-size: contain;}
.Skills article div.middle ul li:nth-child(3):before {background: url(../assets/Skills/Reinforcement_Learning.png) no-repeat; background-size: contain;}
.Skills article div.middle ul li:nth-child(4):before {background: url(../assets/Skills/ROS.png) no-repeat; background-size: contain;}
.Skills article div.btm ul li:nth-child(1):before {background: url(../assets/Skills/Github.png) no-repeat; background-size: contain;}

.Career article { padding: 0 170px; width: 1410px; height: 827px;}
.Career article { padding-top: 60px;}

.Blog article { position: relative;}
.Blog i { z-index: 5; font-size: 70px; color: #cfcfcf; cursor: pointer; padding: 380px 0; transition: ease-in 0.2s;}
.Blog i#blog_prev { position: absolute; top: 0%; left: 0px; padding-left: 90px; background: linear-gradient(to left, black white); }
.Blog i#blog_next { position: absolute; top: 0%; right: 200px; padding-right: 100px; }
.Blog i#blog_prev:hover { background: linear-gradient( to left, #efefef, rgba(133, 133, 133, 0.5) );}
.Blog i#blog_next:hover { background: linear-gradient( to right, #efefef, rgba(133, 133, 133, 0.5) );}
.Blog i.disabled { display: none;}
.Blog i:hover { color: #a8a8a8;}
.Blog article div.container { position: relative; margin: 100px 270px; display: inline-block; width: 1190px; height: 602px;  overflow: hidden;} 
.Blog article div ul { margin: 0 10px; position: absolute; top: 50%; transform: translateY(-50%); width: 1000%;}
.Blog article div ul.animated { -webkit-transition: left 0.3s ease-in; transition: left 0.3s ease-in;}
.Blog article div ul a { margin: 0 50px; float: left; width: 320px; height: 540px; border: 1px solid #c0c0c0; border-radius: 8px; overflow: hidden; box-sizing: border-box; background: white; transition: 0.2s;}
.Blog article div ul a:hover { box-shadow: 0px 0px 8px 6px rgb(192, 191, 191); transition: 0.2s;}
.Blog article div ul a:first-child { margin: 0 50px 0 0;}
.Blog article div ul a li img { width: 321px; height: 170px; border-bottom: 1px solid #c0c0c0; }
.Blog article div ul a li div { padding: 30px 20px 40px 15px; overflow: hidden;}
.Blog article div ul a li div p { display: -webkit-box; margin: 0 0 20px; width: 290px; height: 105px; font-size: 23px; font-weight: bold; color: rgb(43, 43, 43); overflow: hidden; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-break: keep-all;}
.Blog article div ul a li div span { font-size: 11px; color: #8C8C8C;}
.Blog article div ul a li div pre { display: -webkit-box; padding: 20px 0 0; width: 290px; height: 140px; font-size: 14px; color: #8C8C8C; font-weight: normal; overflow: hidden; white-space: pre-wrap; -webkit-line-clamp: 7; -webkit-box-orient: vertical; word-break: keep-all;}

.Contact .form { display: inline-block; padding: 35px 0 0 240px; width: 850px; height: 750px; }
.Contact .form p { padding-bottom: 26px; font-size: 25px; color: #545454;}
.Contact .form form { padding: 0 0 26px 0; width: 750px; background: #E5E5E5; border: 1px solid #707070; box-shadow:  3px 3px #b5b5b5;}
.Contact .form form p:first-child { padding: 31px 0 0 38px;}
.Contact .form form p { padding: 35px 0 0 38px; font-size: 20px;}
.Contact .form form p label { padding-bottom: 6px; display: block;}
.Contact .form form p input { padding-left: 13px; width: 650px; height: 46px; font-size: 15px; line-height: 15px;}
.Contact .form form p input::-webkit-input-placeholder { font-size: 15px; color:#b5b5b5;}
.Contact .form form p input:focus { outline: 1px solid black; transition: none;}
.Contact .form form p textarea { padding: 10px 0 0 13px; width: 650px; height: 46px; font-size: 15px; }
.Contact .form form p textarea::-webkit-input-placeholder { font-size: 15px; color:#b5b5b5; }
.Contact .form form p textarea:focus { outline: 1px solid black; transition: none;}
.Contact .form form input[type="submit"] { font-family: FontAwesome; margin: 27px 0 0 38px; width: 110px; height: 50px; font-size: 20px; font-weight: normal; text-align: center; color: #fff; background: #008ccf; transition: 0.5s;}
.Contact .form form input[type="submit"]:hover { transition: 0.5s; background: #01699B;}
.Contact { position: relative;}
.Contact div.hidden { display: none;}
.Contact .modal { z-index: 5; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6);}
.Contact .pop-up { position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); width: 500px; height: 500px; text-align: center; background-color: #ffa62a; }
.Contact .pop-up div { position: absolute; top: -80px; margin: 0 170px; padding: 8px 8px 0 0; width: 160px; height: 160px; background-color: #117dca; font-size: 80px; color: white; border-radius: 100px; border: 10px solid white; box-sizing: border-box; }
.Contact .pop-up p { position: absolute; margin-top: 100px; padding: 0; background: white; font-size: 30px; color: #5e5e5e; width: 462px; height: 200px; }
.Contact .pop-up p span { display: inline-block; margin: 30px 0; font-size: 50px; font-weight: bold;}
.Contact .pop-up button { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); margin: 70px 0; width: 200px; height: 60px; font-size: 20px; font-weight: bold; color: white; background-color: #117dca; border-radius: 8px;}
.Contact .pop-up button:hover { background-color: #0d5d98; cursor: pointer;}
.Contact ul { z-index: 0; position: absolute; top: 205px; display: inline-block; width: 360px; height: 210px;}
.Contact ul li { float: left; padding: 15px 0; width: 100%; height: 50px; font-size: 20px; color: rgb(100, 100, 100);}
.Contact ul li:nth-child(2) { margin: 15px 0;}
.Contact ul li i { margin: 0 30px 0 0; width: 50px; height: 50px;  border-radius: 25px; color: white; text-align: center; line-height: 50px; background: #008ccf;}